body{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    color: aliceblue;
}

.main-container{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

input{
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    opacity: 1;  
    background-color: rgba(28, 56, 80, 1);
    border-style: none;
    color: aliceblue;

    &:focus{
        outline: none;
        border-color: aliceblue;
    }
}

#input-list{
    display: flex;
    flex-direction: column;
}

#add-task{

    cursor: pointer;
    padding: 0.5rem 0.6rem;
    border-radius: 10px;
    font-size: 1.07rem;
    border: none;
    margin-bottom: 20px;
    transition: 0.3s;
    background-color: #1c3850;
    color: aliceblue;

    &:hover{
        background-color:aliceblue;
        color:#0d1d31;
        border-color: aliceblue;
    }
}

#tasks{
    display: flex;
    flex-direction: column;
    border: none; 
    background-color: #1c3850;
    border-radius: 5px;
    font-size: 20px;
    gap: 10px;
}

span{
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    padding: 0.5rem;
}

#delete-button{
    margin-left:auto;
    background: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}